<div class="row">
	<div class="col-md-3">
		<%= render :partial => 'menu' %>
	</div>
	<div class="col-md-9">
		<div class="alert alert-<%= @message[:alert] %>" role="alert"><%= t @message[:message] %></div>
	</div>
</div>
