<p>
	This is auto send message from <%= link_to('http://kazzla.com', 'http://kazzla.com') %>.
</p>
<p>
	Please refer following url if you want to reset your password.
	<br/>
	<%= link_to(@url, @url) %>
</p>

<hr/>
http://kazzla.com
