<div class="row">
	<div class="span2">
		<div class="tabbable tabs-left">
		  <ul class="nav nav-tabs">
				<li class="active">
					<a href="#">
						<img src="http://upload.wikimedia.org/wikipedia/commons/thumb/8/84/Drive-harddisk.svg/32px-Drive-harddisk.svg.png" />
						Node1
					</a>
				</li>
			 </ul>
		</div>
	</div>
	<div class="span10">
		<table class="table table-condensed">
			<tr>
				<th>UUID</th>
				<td>550e8400-e29b-41d4-a716-446655440000</td>
			</tr>
			<tr>
				<th>Geo Location</th>
				<td></td>
			</tr>
			<tr>
				<th>Agent</th>
				<td>hogehoge/1.0</td>
			</tr>
			<tr>
				<th>Quarity of Service</th>
				<td>★★★★☆</td>
			</tr>
		</table>
	</div>
</div>
