body {
	background-color: white;
	color: black;
}

header img {
	margin: 0px 0.1em 0px 0px;
	width: 20px;
	height: 20px;
	border: none;
	float: left;
}
header form {
	display: inline;
	width: 500px;
	height: 32px;
	margin: 0px 1em 0px 0px;
	float: right;
}
header select {
	font-size: 8px;
	float: right;
}

.container {
}

footer {
  margin-top: 2.5em;
}

footer ul {
	text-align: center;
}
footer ul li {
	display: inline;
	font-size: 12px;
	color: #666;
}
footer ul li:after {
	content: " | ";
}
footer ul li:last-child {
	color: #AAA;
}
footer ul li:last-child:after {
	content: "";
}
