<div class="row">
	<div class="span7">
		<%= form_tag("/auth/reset_password", { :method => :post }) do %>
			<fieldset>
				<legend>Reset Password</legend>
				<%= text_field_tag(:account, params[:account], :placeholder => :email) %>
				<div>
					<%= submit_tag("Send Password Reset Mail", :class => "btn btn-primary") %>
				</div>
			</fieldset>
		<% end %>
	</div>
</div>

